<div [hidden]="!isOpen" style="position: fixed; width: 100%; height: 100%; z-index: 101; background-color: #00000040; top: 0; left: 0">
</div>
<aside class="u-ss" data-cookies-prefix="unify" data-defaults='[{"customColor": "#72c02c", "outerSpaces": "0px", "contentFont": "Open Sans, Helvetica, Arial, sans-serif", "headingFont": "Open Sans, Helvetica, Arial, sans-serif"}]'>
  <div class="u-ss-wrap">
    <header class="u-ss-header">
      <button class="u-ss-toggler g-color-primary" type="button">
        <span class="u-badge-v1--sm g-color-white g-bg-primary g-font-size-11 g-line-height-1_4 g-rounded-50x g-pa-4" style="top: 12px !important; right: 12px !important;">{{ lineOrders.length }}</span>
        <i class="icon-hotel-restaurant-105 u-line-icon-pro"></i>
      </button>

      <h2 class="u-ss__main-title">
          <a class="js-modal-markup u-link-v5  g-color-main  g-color-primary--hover g-mr-15 g-cursor-pointer" (click)="onBackClick()" *ngIf="checkoutStep === 'resume' || checkoutStep === 'address'">
            <i class="fa fa-arrow-left"></i>
          </a>
          <span *ngIf="checkoutStep == 'resume'">Mi Canasta</span>
          <span *ngIf="checkoutStep == 'address'">Dirección de Entrega</span>
          <span *ngIf="checkoutStep == 'order'">Orden Enviada</span>
      </h2>
    </header>

    <div class="js-ss-scrollbar u-ss-body">
      <div [hidden]="checkoutStep != 'resume'">
        <div [hidden]="lineOrders.length == 0">
            <!-- Shopping Cart -->
            <div class="active">
              <div class="row">
                <div class="col-md-12 g-mb-30">
                  <!-- Products Block -->
                  <div class="g-overflow-x-scroll g-overflow-x-visible--lg">
                    <table class="text-center w-100">
                      <thead class="h6 g-brd-bottom g-brd-gray-light-v3 g-color-black g-font-size-13 text-uppercase">
                        <tr>
                          <th class="g-font-weight-400 text-left g-pb-20">Producto</th>
                          <th class="g-font-weight-400 g-width-50 g-pb-20">Cantidad</th>
                          <th class="g-font-weight-400 g-width-130 g-pb-20">Total</th>
                          <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        <!-- Item-->
                        <ng-container *ngFor="let lineOrder of lineOrders">
                          <tr class="">
                            <td class="text-left g-py-10">
                              <img class="d-inline-block g-width-50 mr-4" [src]="lineOrder.product.imageUrl">
                            </td>
                            <td>
                              <div class="js-quantity input-group u-quantity-v1 g-width-80 g-brd-primary--focus">
                                <span class="js-result form-control text-center g-font-size-13 rounded-0 g-pt-7">{{ lineOrder.qty }}</span>

                                <div class="input-group-addon d-flex align-items-center g-width-30 g-brd-gray-light-v2 g-bg-white g-font-size-22 rounded-0 g-px-5 g-py-6">
                                    <i class="js-minus g-color-gray g-color-primary--hover fa fa-angle-down g-ml-10" (click)="onDownClick(lineOrder)"></i>
                                  <i class="js-plus g-color-gray g-color-primary--hover fa fa-angle-up g-ml-10" (click)="onUpClick(lineOrder)"></i>
                                </div>
                              </div>
                            </td>
                            <td class="text-right g-color-black">
                              <span class="g-color-gray-dark-v2 g-font-size-13 mr-4" style="font-size: 1.3rem !important;">${{ (lineOrder.price * lineOrder.qty).toFixed(2) }}</span>
                              <span class="g-color-gray-dark-v4 g-color-black--hover g-cursor-pointer g-font-size-22" (click)="onRemoveLineOrderClick(lineOrder)">
                                <i class="mt-auto fa fa-trash"></i>
                              </span>
                            </td>
                          </tr>
                          <tr class="g-brd-bottom g-brd-gray-light-v3">
                              <td class="text-left g-py-10" colspan="3">
                                <div class="d-inline-block align-middle">
                                  <h4 class="h6 g-color-black">{{ lineOrder.product.name }}</h4>
                                  <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-12 g-line-height-1_6 mb-0">
                                    <li>Precio: ${{ lineOrder.price }}</li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                        </ng-container>
                        <!-- End Item-->
                      </tbody>
                    </table>
                  </div>
                  <!-- End Products Block -->
                </div>
                <div class="col-md-12 g-mb-30">
                  <!-- Order Summary -->
                  <div class="g-bg-gray-light-v5 g-pa-20 g-pb-20">
                    <div class="d-flex justify-content-between">
                      <span class="h4 g-color-black">Total</span>
                      <span class="h4 g-color-black g-font-weight-300">${{ total.toFixed(2) }}</span>
                    </div>
                  </div>
                  <!-- End Order Summary -->
                </div>
              </div>
              <section class="u-ss-section">
                <div class="">
                  <button class="u-ss-btn u-ss-btn--green g-font-size-13 text-uppercase" (click)="onDeliveryAddressClick()">Continuar con Pedido</button>
                </div>
              </section>
            </div>
        </div>
        <div class="row" [hidden]="lineOrders.length > 0">
          <div class="col-sm-12 text-center text-lg-left g-mb-50">
            <!-- Icon Blocks -->
            <span class="u-icon-v1 u-icon-size--lg g-color-teal g-bg-teal-opacity-0_1 g-font-size-18 rounded-circle mb-4">
              <i class="icon-education-087 u-line-icon-pro"></i>
            </span>
            <h3 class="h5 g-color-black g-font-weight-600 mb-2">Canasta Vacia</h3>
            <p class="mb-0">No tienes ningún producto en tu canasta.</p>
            <!-- End Icon Blocks -->

            <div class="g-mt-50">
              <button class="u-ss-btn font-size-13 text-uppercase" (click)="onContinueShoppingClick()">Continuar Comprando</button>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="checkoutStep != 'address'">
        <div>
          <section class="u-ss-section">
            <div class="u-ss-control-wrap">
              <h3 class="u-ss-section__title">Coto</h3>
              <select class="js-ss-select js-ss-predefined-style u-ss-select g-font-size-18" style="width: 100%" [(ngModel)]="coto">
                <option value="" disabled selected>Seleccione coto...</option>
                <option value="manyara" selected>Manyara</option>
                <option value="nasser">Nasser</option>
                <option value="manitoba">Manitoba</option>
                <option value="maracaibo">Maracaibo</option>
                <option value="ontario">Ontario</option>
              </select>
            </div>

            <div class="u-ss-control-wrap">
                <h3 class="u-ss-section__title"># Casa</h3>
                <input class="u-ss__control g-font-size-18" type="text" [(ngModel)]="home" />
            </div>

            <div class="g-mt-50">
              <button class="btn u-ss-btn u-ss-btn--green g-font-size-13 text-uppercase"
                (click)="onMakeOrderClick()" [disabled]="sendOrder">Hacer Pedido
              </button>
            </div>
          </section>
        </div>
      </div>
      <div [hidden]="checkoutStep != 'order'">
        <div class="row">
          <div class="col-sm-12 text-center text-lg-left g-mb-50">
            <!-- Icon Blocks -->
            <span class="u-icon-v1 u-icon-size--lg g-color-teal g-bg-teal-opacity-0_1 g-font-size-18 rounded-circle mb-4">
              <i class="icon-education-087 u-line-icon-pro"></i>
            </span>
            <h3 class="h5 g-color-black g-font-weight-600 mb-2">Orden Enviada</h3>
            <p class="mb-0">Su orden a sido enviada y estaremos llegando dentro de los próximos 15 minutos a las puertas de su casa.</p>
            <!-- End Icon Blocks -->

            <div class="g-mt-50">
              <button class="u-ss-btn font-size-13 text-uppercase" (click)="onContinueShoppingClick()">Continuar Comprando</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
