<main>
  <!-- Header -->
  <header class="u-header u-header--static u-shadow-v19">
    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
      <nav class="js-mega-menu navbar navbar-expand-lg">
        <div class="container">
          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-font-size-24 g-top-10 g-right-0" type="button"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar"
                  (click)="onOpenBasketClick()">
            <span class="u-badge-v1--sm g-color-white g-bg-primary g-font-size-11 g-line-height-1_4 g-rounded-50x g-pa-4">3</span>
            <i class="icon-hotel-restaurant-105 u-line-icon-pro"></i>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Logo -->
          <a class="navbar-brand" href="/">
            <img src="assets/img/logo/logo-1.png" alt="Image Description">
          </a>
          <!-- End Logo -->

          <!-- Subscribe Form -->
          <div class="col-12 col-md-8 search-bar-container">
              <div class="input-group rounded">
                <input #searchBar id="search-bar" class="form-control g-brd-secondary-light-v2 g-brd-primary--focus g-color-secondary-dark-v1 g-placeholder-secondary-dark-v1 g-bg-white g-font-weight-400 g-font-size-18 g-px-20 g-py-12"
                  type="text"
                  placeholder="Buscar leche, galletas, cereal, pañales, azucar ..."
                  (keyup.enter)="onSearchEnter(searchBar.value)">
              </div>
            </div>
            <!-- End Subscribe Form -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse align-items-center flex-sm-row g-pt-15 g-pt-0--lg">
            <ul class="navbar-nav ml-auto">

            </ul>
          </div>
          <!-- End Navigation -->
        </div>
      </nav>
    </div>
  </header>
  <!-- End Header -->

  <div id="container" class="g-bg-gray-light-v5">
    <div class="container g-py-50">
      <!-- Carousel Slider -->
      <div class="row g-mx-minus-10 g-mb-50">
          <div class="col-md-6 col-lg-4 g-px-10" *ngFor="let product of products">
            <!-- Article -->
            <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
              <!-- Article Image -->
              <div class="g-max-width-100 g-mr-15">
                <img class="d-flex w-100" [src]="product.imageUrl">
              </div>
              <!-- End Article Image -->

              <!-- Article Info -->
              <div class="media-body align-self-center">
                <h4 class="h5 g-mb-7" style="font-size: 1.2rem !important;">
                  <span class="g-color-black">{{ product.name }}</span>
                </h4>
                <!-- End Article Info -->

                <!-- Article Footer -->
                <footer class="d-flex justify-content-between g-font-size-16">
                  <span class="g-color-black g-line-height-1" style="font-size: 1.5rem !important; font-weight: bold;">${{ product.price }}.00</span>
                  <ul class="list-inline g-color-gray-light-v2 g-font-size-26 g-line-height-1">
                    <li class="list-inline-item align-middle g-brd-right g-brd-gray-light-v3 g-pr-10 g-mr-6">
                      <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover g-cursor-pointer" title="Agregar a Carrito"
                         (click)="onAddToCartClick(product)"
                         data-toggle="tooltip"
                         data-placement="top">
                        <i class="icon-finance-100 u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </footer>
                <!-- End Article Footer -->
              </div>
            </article>
            <!-- End Article -->
          </div>
        </div>
    </div>
    <!-- End Carousel Slider -->
  </div>

  <!-- Footer -->
  <footer class="g-bg-main-light-v1">
    <!-- Copyright -->
    <div class="container g-pt-30 g-pb-10">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 g-mb-20">
          <p class="g-font-size-13 g-color-white mb-0">2018 &copy; Traelo. Todos los Derechos Reservados.</p>
        </div>
      </div>
    </div>
    <!-- End Copyright -->
  </footer>
  <!-- End Footer -->
</main>
<app-basket></app-basket>
