<main>

  <!-- Promo Block -->
  <section class="g-pos-rel">
    <!-- Promo Block - Slider -->
    <div class="js-carousel" data-autoplay="true" data-infinite="true" data-fade="true" data-speed="5000">
      <div class="js-slide g-min-height-100vh g-flex-centered g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after" style="background-image: url(/assets/img-temp/1920x1080/img20.jpg);"></div>

      <div class="js-slide g-min-height-100vh g-flex-centered g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after" style="background-image: url(/assets/img-temp/1920x1080/img17.jpg);"></div>
    </div>
    <!-- End Promo Block - Slider -->

    <!-- Promo Block Content -->
    <div class="g-absolute-centered--y g-left-0 g-right-0" style="top: 35% !important">
      <div class="container g-z-index-1">
        <div class="g-max-width-800">
          <h1 class="g-color-white g-font-weight-700 g-font-size-40 g-font-size-60--md g-mb-30">Traelo</h1>
          <p class="h3 g-color-white g-font-weight-300 g-letter-spacing-1 mb-5">Somos la tiendita de la esquina que lleva lo que necesites a la puerta de tu casa.</p>
        </div>

        <div class="input-group u-shadow-v19 g-rounded-50 g-max-width-800">
          <input class="form-control g-color-gray-dark-v4 g-placeholder-gray-dark-v3 border-0 g-rounded-left-50 g-px-20" type="text" placeholder="Buscar leche, galletas, cereal ..." aria-label="Enter email">
          <div class="input-group-append">
            <span class="input-group-text g-bg-white border-0 g-rounded-right-50">
              <button class="btn u-btn-primary g-width-40 g-height-40 rounded-circle" type="submit">
                <i class="fa fa-send"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Promo Block Content -->
  </section>
  <!-- End Promo Block -->

  <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
   "bottom": 15,
   "right": 15
 }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
  </a>
</main>
